body {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.hero {
  padding: 50px 0 100px;
  background-color: #EEEFF1;
}
.hero nav {
  width: 50%;
  text-transform: uppercase;
  padding: 0 0 170px;
}
@media (max-width: 768px) {
  .hero nav {
    width: 100%;
    padding: 0 0 50px;
  }
}
.hero nav .bars {
  display: none;
  border: none;
  background: none;
  font-size: 30px;
  margin-bottom: 20px;
  color: #a834cc;
}
@media (max-width: 768px) {
  .hero nav .bars {
    display: block;
  }
}
.hero nav ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .hero nav ul {
    flex-direction: column;
    border-bottom: 1px solid #a834cc;
    padding-bottom: 10px;
  }
}
.hero nav ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .hero nav ul li {
    padding: 5px 0 5px;
  }
}
@media (max-width: 768px) {
  .hero nav .none {
    display: none;
  }
}
.hero h1 {
  font-size: 48px;
  padding: 0 0 50px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
}
.hero h1 + p {
  width: 50%;
  color: #727272;
  line-height: 30px;
  padding: 0 0 50px;
}
@media (max-width: 768px) {
  .hero h1 + p {
    width: 100%;
  }
}
.hero .primary {
  padding: 20px 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #a834cc;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .hero .primary {
    padding: 15px 30px;
  }
}
.hero .primary:hover {
  background-color: #5c275c;
}

.about-me {
  padding: 80px 0 80px;
  text-align: center;
}
.about-me h2 {
  font-size: 32px;
  font-weight: 500;
  padding: 0 0 50px;
}
@media (max-width: 768px) {
  .about-me h2 {
    font-size: 28px;
  }
}
.about-me h2 + p {
  line-height: 30px;
  max-width: 540px;
  margin: 0 auto;
}

.numbers {
  background-color: #a834cc;
  padding: 80px 0 80px;
}
.numbers ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.numbers ul li a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 20px;
}
.numbers ul li a:hover {
  border-color: #ffffff;
}
.numbers ul li a img {
  padding-right: 20px;
}
.numbers ul li a p span {
  font-size: 20px;
  font-weight: 500;
}

.video {
  padding: 80px 0 80px;
  text-align: center;
}
.video h2 {
  font-size: 32px;
  font-weight: 500;
  padding: 0 0 50px;
}
@media (max-width: 768px) {
  .video h2 {
    font-size: 28px;
  }
}
.video h2 + p {
  line-height: 30px;
  max-width: 540px;
  margin: 0 auto;
}
.video p {
  padding: 0 0 50px;
}
.video .works__video {
  aspect-ratio: 16/9;
}
.video .works__video iframe {
  width: 100%;
  height: 100%;
  border: none;
}

footer {
  background-color: #a834cc;
  padding: 30px 0 30px;
  color: #ffffff;
  font-size: 14px;
}
footer h5 {
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */