@use 'media' as *;

@mixin h2_center {
    padding: 80px 0 80px;
    text-align: center;

    h2 {
        font-size: 32px;
        font-weight: 500;
        padding: 0 0 50px;

        @media (max-width: $tablet) {
            font-size: 28px;
        }

        &+p {
            line-height: 30px;
            max-width: 540px;
            margin: 0 auto;
        }
    }
}